
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            Welcome to United 4 Admin.
        </p>
        <p>
            This application is currently in development.
        </p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>