@model United4Admin.WebApplication.ViewModels.FallbackValuesVM

<div>
    <h4>Fallback Values</h4>
    <div class="alert alert-danger">Are you sure you want to remove this Fallback Values?</div>
    <dl class="dl-horizontal">
        <dt>
            <label asp-for="Field"></label>
        </dt>
        <dd>
            @Model.Field
        </dd>
        <dt>
            <label asp-for="Value"></label>
        </dt>
        <dd>
            @Model.Value
        </dd>
    </dl>

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="control-label col-md-2"></div>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-controller="SimmaMapping" asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
