@model United4Admin.WebApplication.ViewModels.AddOnDonationVM
@{
    ViewBag.Title = "Details";
}
    <div>
        <h4>Registration for @Model.Forename @Model.Surname</h4>
        <partial name="_detail" for=@Model />
        <a asp-action="Index">Back to List</a>
    </div>

