@model United4Admin.WebApplication.ViewModels.SignUpVM

@{

}


<div>
    <h4>Delete Registration for @Model.FirstName @Model.LastName</h4>
    <div class="alert alert-danger">Are you sure you want to remove this registration?</div>    
    <partial name="_detail" for=@Model />
  
    <form method="post">
        <div class="control-label col-md-2"></div>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />         
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
