@model United4Admin.WebApplication.ViewModels.SalutationVM

<div>
    <h4>Delete Salutation</h4>
    <div class="alert alert-danger">Are you sure you want to remove this salutation?</div>
    <dl class="dl-horizontal">
        <dt>
            <label asp-for="ddlSalutation"></label>
        </dt>
        <dd>
            @Model.ddlSalutation
        </dd>
        <dt>
            <label asp-for="crmSalutation"></label>
        </dt>
        <dd>
            @Model.crmSalutation
        </dd>
    </dl>

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="control-label col-md-2"></div>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-controller="NavisionMapping" asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
